html{
	/*background-color: grey;*/
}

body{
	background-image: url("back.gif");
}

div{
	color: #00FF41;
	/*background-color: grey;*/
}

#chatDiv{
	margin-top: 2%;
	margin-left: 45%;
	margin-right: auto;
	width: 50%;
	height: 800px;
}
#chat{
	background-color: #28283c;
	border: solid #28283c 1px;
	margin: 0px;
	width: 100%;
	height: 90%;
	overflow-x: auto;
	font-size: 20px;
	font-family: Consolas,monaco,monospace; 
}
#chat .div{
	position: relative;
	margin-left: 25%;
	margin-top: 9%;
	float: left;
	width: 15%;
	padding: 2%;
	background: #28283c;
	border-radius: .4em;
	color: #00FF41;
	font-weight: 600;
	font-family: Consolas,monaco,monospace;
}
#chat .div:after{
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #28283c;
	border-left: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-left: -20px;
}
#mensagens{
	width: 100%;
	height: 8%;
	background-color: #28283c;
	color: #00FF41;
	font-family: Consolas,monaco,monospace;
	border-top:solid black 1px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.comandos{
	background-color: #28283c;
	border: solid #28283c 1px;
	margin: 0;
	padding: 0;
	margin-right: 0;
	height: 100%;
	width: 85%;
	resize: none;
	font-size: 125%;
	font-weight: 600;
	border-bottom-left-radius: 10px;
	color: #00FF41;
}
::placeholder {
  color: #00FF41;
  opacity: 1;
}
.btnBotao{
	height: 100%;
	float: right;
	margin: 0;
	margin-top: 0;
	padding-right: 4.8%;
	padding-left: 4.8%;
	background-color: #28283c;
	border-left: solid black 1px;
	color: #00FF41;
	font-weight: 700;
	text-align: center center;
	border-bottom-right-radius: 10px;
	outline: none;
}
.btnBotao:onhover{
	background-color: rgb(109, 111, 110);
}
.btnBotao:onclick{
	background-color: red;
	border: solid black 1%;
}

.speech-bubble {
	position: relative;
	margin-left: 25%;
	margin-top: 9%;
	float: left;
	width: 15%;
	padding: 2%;
	background: #28283c;
	border-radius: .4em;
	color: #00FF41;
	font-weight: 600;
	font-family: Consolas,monaco,monospace;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #28283c;
	border-left: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-left: -20px;
}

.speech-bubble2 {
	position: relative;
	float: left;
	width: 90%;
	padding: 2%;
	background: black;
	border-radius: .4em;
	color: #00FF41;
	font-weight: 600;
	font-family: Consolas,monaco,monospace;
	margin-left: 5%;
	margin-top: 1%;
}

.speech-bubble2:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: black;
	border-left: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-left: -20px;
}

table{
	width: 90%;
	font-size: 18px;
	background-color: black;
	color: #00FF41;
}

th{
	border: 1px solid black;
	text-align: center;
}
tr{
	border: 1px solid black;
	text-align: center;
}
td{
	border: 1px solid black;
	text-align: center;
}