

html{
	/*background-color: grey;*/
}

body{
	background-image: url("78765.jpg");
}

div{
	color: #d4d4d4;
	/*background-color: grey;*/
}

#chatDiv{
	margin-top: 2%;
	margin-left: 45%;
	margin-right: auto;
	width: 50%;
	height: 800px;
}
#chat{
	background-color: #e3e3e3;
	border: solid #adadad 1px;
	margin: 0px;
	width: 100%;
	height: 90%;
	overflow-x: auto;
	font-size: 20px;
	font-family: Consolas,monaco,monospace; 
}
#chat .div{
	position: relative;
	margin-left: 25%;
	margin-top: 9%;
	float: left;
	width: 15%;
	padding: 2%;
	background: #e3e3e3;
	border-radius: .4em;
	color: #5a5a5a;
	font-weight: 600;
	font-family: Consolas,monaco,monospace;
}
#chat .div:after{
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #e3e3e3;
	border-left: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-left: -20px;
}
#mensagens{
	width: 100%;
	height: 8%;
	background-color: #e3e3e3;
	color: #5a5a5a;
	font-family: Consolas,monaco,monospace;
	border-top:solid grey 1px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 1em;
}
.comandos{
	background-color: #e3e3e3;
	border: solid #adadad 0.1em;
	margin: 0;
	padding: 0;
	margin-right: 0;
	height: 100%;
	width: 85%;
	resize: none;
	font-size: 125%;
	font-weight: 600;
	border-bottom-left-radius: 10px;
	color: #5a5a5a;
}
.comandos:focus{
	outline:0;
}
::placeholder {
  color: #5a5a5a;
  opacity: 1;
}
.btnBotao{
	height: 100%;
	width: 15%;
	float: right;
	margin: 0;
	margin-top: 0;
	padding-right: 1em;
	padding-left: 1em;
	background-color: #e3e3e3;
	border-left: solid grey 0.05em;
	color: #5a5a5a;
	font-weight: 700;
	border-bottom-right-radius: 1em;
}
.btnBotao:hover{
	background-color: rgb(109, 111, 110);
}
.btnBotao:click{
	background-color: red;
	border: solid grey 1%;
}
.btnBotao:focus{
	outline:0;
}
.Diamond{
	position: relative;
	margin-left: 15%;
	margin-top: 14%;
	float: left;
	width: 311px;
	height: 315px;
	padding: 2%;
	background-image: url("Diamond.png");
	/*<a id="ref_Background" href="https://br.freepik.com/fotos-vetores-gratis/fundo">Fundo vetor criado por rawpixel.com - br.freepik.com</a>*/
}
.speech-bubble {
	position: relative;
	margin-left: 0%;
	margin-top: 14%;
	float: left;
	width: 15%;
	padding: 1%;
	background: #8c8c8c;
	border-radius: .4em;
	color: #5a5a5a;
	font-weight: 600;
	font-family: Consolas,monaco,monospace;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #8c8c8c;
	border-left: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-left: -20px;
}
.btnContinuar{
	width: 10px;
	height: 10px;
}

.speech-bubble2 {
	position: relative;
	float: left;
	width: 90%;
	padding: 2%;
	background: grey;
	border-radius: .4em;
	color: #5a5a5a;
	font-weight: 600;
	font-family: Consolas,monaco,monospace;
	margin-left: 5%;
	margin-top: 1%;
}


.speech-bubble3 {
	position: relative;
	font-size: .7em;
	float: left;
	width: auto;
	padding: 2%;
	background: grey;
	border-radius: .4em;
	color: #5a5a5a;
	font-weight: 600;
	font-family: Consolas,monaco,monospace;
	margin-left: 5%;
	margin-top: 1%;
}


.linha{
	width: 100%;
}
table{
	position: relative;
	width: 100%;
	font-size: .65em;
	background-color: grey;
	color: #5a5a5a;
	margin: 0px;
	padding: 0px;
}

th{
	background-color: #adadad;
	font-size: 1em;
	padding: .6em;
	text-align: center;
	border: none;
}
th:first-child{

}
th:last-child{
	
}
tr{
	border: .1em #adadad;
	text-align: center;
}
tr:nth-child(odd){
  background-color: #adadad;
}
td{
	border: .1em solid #adadad;
	text-align: center;
}
#ref_Background{
	color:gray;
}
#ref_Background:hover{
	color:black;
}
#ref_Background:focus{
	outline:0;
}